* {
  font-family: 'Quicksand', sans-serif;
  //font-family: 'Amatic SC', cursive;
  //font-family: 'Advent Pro', sans-serif;
}

body {
  background-color: map-get($colors, inreal_backgraund);
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.container-grid {
  $columnNum: 12;
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  @for $i from 1 through $columnNum {
    .col-#{$i} {
      width: (100%/$columnNum * $i );
    }
  }

  @include mobile {
    flex-direction: column;
    [class*="col-"]{
      width:100%;
    }
  }
}
