
.footer {

  .footer_facebook_icon {
    color: map-get($colors, text);
    font-size: 25px;
    position: fixed;
    left: 4rem;
    bottom: 15px;
    cursor: pointer;
    &:hover {
      font-size: 35px;
      transition: 0.5s;
      opacity: 0.8;
    }
  }

  .footer_instagram_icon {
    color: map-get($colors, text);
    font-size: 25px;
    position: fixed;
    left: 6rem;
    bottom: 15px;
    cursor: pointer;
    &:hover {
      font-size: 35px;
      transition: 0.5s;
      opacity: 0.8;
    }
  }



}