.about_header {
  background-color: map-get($colors, #E1E1E1);
}

#header_holder_logo {
  max-width: 20%;
  display: inline-block;
  position: fixed;
  left: 30px;
  top: 10px;
  z-index: -1;
  @include mobile {
    max-width: 50%;
    left: 15px;
    top: 5px;
  }
}

#header_logo {
  width: 100%;
}


.header_hamburger {
  height: 2rem;
  position: fixed;
  right: 30px;
  top: 15px;
  color: map-get($colors, text);
  cursor: pointer;
  @include mobile {
    height: 2rem;
  }

  &:hover {
    height: 2.5rem;
    transition: 0.5s;
    opacity: 0.5;
    @include  mobile {
      height: 2rem;
    }
  }
}

.header_menu {
  display: inline-block;
  text-align: right;
  position: fixed;
  right: 4.5rem;
  top: 10px;
  font-size: 17px;
  transition: all 0.7s;
  @include mobile {
    font-size: 14px;
  }

  li {
    list-style: none;
    margin: 3px;
    padding: 2px;
    &:hover {
      color: #151515;
      transition: all 0.4s;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  a {
    text-decoration: none;
    color: map-get($colors, text);
  }
}