body {
  background-color: map-get($colors, home_background);
  font-family: 'Quicksand', sans-serif;
  overflow: scroll;
}

.home_gallery {
  //justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  @include mobile {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .home_gallery_holder_img {
    @include mobile {
      margin: 0 5%;
    }
    .home_gallery_title {
      visibility: hidden;
      margin-top: 1rem;
      margin-bottom: 2rem;
      width: 90%;
      text-align: center;
      color: map-get($colors, text);
      @include mobile {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }


  }

  .home_gallery_img {
    margin-top: 3rem;
    width: 90%;
    -webkit-box-shadow: 10px 10px 6px -6px #777;
    -moz-box-shadow: 10px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
    border-radius: 1px;
    @include mobile {
      margin-top: 1rem;
    }

  }

  }

.home_gallery_display{
  visibility: visible !important;
}


.downHome {
  position: fixed;
  height: 2rem;
  right: 30px;
  bottom: 15px;
  opacity: 0.8;
  &:hover {
    height: 2.5rem;
    transition: 0.5s;
    opacity: 0.3;
  }
  @include mobile {
    right: 15px;
    bottom: 10px;
  }
}
