.inreal_gallery {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 6.5rem;
  @include mobile {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .inreal_gallery_holder_img {
    @include mobile {
      margin: 0 5%;
    }
  }

  .inreal_gallery_img {
    margin-top: 7rem;
    width: 90%;
    -webkit-box-shadow: 10px 10px 6px -6px #777;
    -moz-box-shadow: 10px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
    border-radius: 1px;
    @include mobile {
      margin-top: 1rem;
    }
  }
  .inreal_gallery_title {
    display: none;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
 .downInreal {
   position: fixed;
   height: 2rem;
   right: 30px;
   bottom: 15px;
   opacity: 0.8;
   &:hover {
     height: 2.5rem;
     transition: 0.5s;
     opacity: 0.3;
   }
 }