.inreal_gallery {
  justify-content: space-between;

  .inreal_gallery_holder_img {

  }

  .inreal_gallery_img {
    margin-top: 10rem;
    width: 90%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    //transition: 0.5s;
    &:hover {
      width: 120%;
      margin: 10% auto;
      z-index: 999;
      zoom: 300%;
      -webkit-box-shadow: 10px 10px 6px -6px #777;
      -moz-box-shadow: 10px 10px 6px -6px #777;
      box-shadow: 10px 10px 6px -6px #777;


    }

  }
}