$colors: (
        start_bacground: #FFFFFF,
        home_background: #E1E1E1,
        inreal_backgraund: #f7f7f7,
        about_backgraund: #151515,
        text: #414141,
        text_light : #E1E1E1
);